name: Check Tsunagu

concurrency:
  group: tsunagu-notifier
  cancel-in-progress: true

on:
  schedule:
    - cron: "*/3 6-23 * * *"
    - cron: "*/3 0-1 * * *"
    - cron: "0,30 2-5 * * *"
    - cron: "0 6 * * *"

  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run notify
        env:
          DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
        run: python notify.py

      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add .
          git diff --cached --quiet || git commit -m "Update data"
          git push
